---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
