---
---
<!-- _layouts/bib.html -->
<div class="row">
  <div class="col-md-2 abbr">
    {% if entry.preprint %}
    &nbsp;
    {% else %}
      {% assign year = entry.year | plus: 0 %}
      <a href="https://github.com/computorg/{{ entry.repository }}"><img
        src="https://img.shields.io/github/actions/workflow/status/computorg/{{ entry.repository }}/build.yml?label=build&logo=github" /></a>
    {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-md-8">

    <div class="title">{{entry.title}}</div>
    <div class="author">
      {% for author in entry.author_array %}
      {% if forloop.length == 1 %}
      {{author.first}} {{author.last}}
      {% else %}
      {% unless forloop.last %}
      {{author.first}} {{author.last}},
      {% else %}
      and {{author.first}} {{author.last}}
      {% endunless %}
      {% endif %}
      {% endfor %}
    </div>

    <div class="periodical">
      <em>{{entry.journal}}</em>, {{entry.year}}.
    </div>

    <div class="links">
      {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
      {% endif %}

      {% if entry.preprint %}
      <a href="https://github.com/{{ entry.repository }}" class="btn btn-sm z-depth-0" role="button" target="_blank">git
        repo</a>
      <a href="{{ entry.url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
      {% else %}
      {% if entry.repository %}
      <a href="https://computo-journal.org/{{ entry.repository }}" class="btn btn-sm z-depth-0" role="button"
        target="_blank">HTML</a>
      <a href="https://computo-journal.org/{{ entry.repository }}/{{ entry.repository }}.pdf"
        class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      <a href="https://github.com/computorg/{{ entry.repository }}" class="btn btn-sm z-depth-0" role="button"
        target="_blank">git repo</a>
      {% endif %}
      {% if entry.data %}
      <a href="{{ entry.data }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Data</a>
      {% endif %}
      <a href="https://github.com/computorg/{{ entry.repository }}/issues?q=is%3Aopen+is%3Aissue+label%3Areview"
        class="btn btn-sm z-depth-0" role="button" target="_blank">Review</a>
      <a href="https://computo-journal.org/{{ entry.repository }}/#citation" class="btn btn-sm z-depth-0" role="button"
        target="_blank">Bib</a>
      {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
      {% if entry.keywords %}
      <p>{{ entry.keywords }}</p>
      {% endif %}
    </div>
    {% endif %}

  </div>
</div>